<div class="container">
    <h2>Afspraak</h2>

    <form class="form-group">
        <label>Afspraak bij: </label>
        <input class="form-control" type="text" ng-model="form.appointment.barber">
        <br>
        <br>
        <label>Op: </label>
        <input class="form-control" type="date" ng-model="form.appointment.castDate">
        <br>
        <br>
        <label>Tijd: </label>
        <input class="form-control" type="time" ng-model="form.appointment.castTime">
        <br>
        <br>
        <button class="btn btn-success" ng-click="form.editAppointment()">Wijziging Opslaan</button>
        <button class="btn btn-primary" ui-sref="home">Terug</button>
    </form>
</div>